body {
	padding: 0px;
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
	color: #e7e4bb;

}

.dark_font{
	color: #3b3a1f;
	}

div, p, input, button, a {
	box-sizing: border-box;
}

p {
    margin-top: 0.5em;
    margin-bottom: 1.6em;
	line-height: 1.38em;
}

article {
	width: 1170px;
	margin: 0px auto;
	position: relative;
}

.pt-5{
	padding-top: 50px;
}

.ml-4{
	margin-left: 40px;
}


.clearfix:after {
	content:'';
	display: table;
	width: 100%;
}

.f11px {font-size: 11px;}
.f12px {font-size: 12px;}
.f13px {font-size: 13px;}
.f14px {font-size: 14px;}
.f15px {font-size: 15px;}
.f16px {font-size: 16px;}
.f17px {font-size: 17px;}
.f18px {font-size: 18px;}
.f19px {font-size: 19px;}
.f20px {font-size: 20px;}
.f21px {font-size: 21px;}
.f22px {font-size: 22px;}
.f23px {font-size: 23px;}
.f24px {font-size: 24px;}
.f25px {font-size: 25px;}
.f26px {font-size: 26px;}
.f27px {font-size: 27px;}
.f28px {font-size: 28px;}
.f29px {font-size: 29px;}
.f30px {font-size: 30px;}
.f31px {font-size: 31px;}
.f32px {font-size: 32px;}
.f33px {font-size: 33px;}
.f34px {font-size: 34px;}
.f35px {font-size: 35px;}
.f36px {font-size: 36px;}
.f37px {font-size: 37px;}
.f38px {font-size: 38px;}
.f39px {font-size: 39px;}
.f40px {font-size: 40px;}
.f41px {font-size: 41px;}
.f42px {font-size: 42px;}
.f43px {font-size: 43px;}
.f44px {font-size: 44px;}
.f45px {font-size: 45px;}
.f46px {font-size: 46px;}
.f47px {font-size: 47px;}
.f48px {font-size: 48px;}
.f49px {font-size: 49px;}
.f50px {font-size: 50px;}
.f51px {font-size: 51px;}
.f52px {font-size: 52px;}
.f53px {font-size: 53px;}
.f54px {font-size: 54px;}
.f55px {font-size: 55px;}
.f56px {font-size: 56px;}
.f57px {font-size: 57px;}
.f58px {font-size: 58px;}
.f59px {font-size: 59px;}

.upper {
	text-transform: uppercase;
}

.aligner {
	text-align:center;
}

.centro{
	margin: 0 auto;
}

.bold{
	font-weight: 700;
}

.lefter{
	float: left;
}

.righter{
	float: right;
}

#first{
	background: #dfdc98 url(../img/first_bg.jpg) no-repeat center center / cover;
	height: 100vh;
	position: relative;
	box-shadow: 0px 8px 60px #0003;
}

#first article{
	height: 100vh;
}

.date{
	padding-top: 4vh;
}

.wheel{
	position: absolute;
	left: 50%;
	margin-left: -300px;
	top:50%;
	margin-top: -300px;
}

.icon1{
	background: url(../img/process.png) no-repeat center top;
	padding-top: 170px;
	width: 220px;
	text-align: center;
	position: absolute;
	left: 0px;
	top:50%;
	margin-top: -106px;
}

.icon2{
	background: url(../img/brain.png) no-repeat center top;
	padding-top: 170px;
	width: 220px;
	text-align: center;
	position: absolute;
	right: 0px;
	top:50%;
	margin-top: -106px;
}

.basic{
	position: absolute;
	bottom: 17vh;
	left: 0px;
	width: 100%;
}

.title{
	margin-bottom: 10px;
}

.skills i{
	margin-left: 24px;
}

.skills i:nth-child(1){
	margin-left:0px;
}

.button{
	position: absolute;
	bottom: 0vh;
	left:50%;
	margin-left: -150px;
	background: #cf3f3f;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding: 20px 50px;
	color: #ffffff;
 	text-decoration: none;
}

.button i{
	display: block;
	padding-top: 10px;

}

#program{
	padding-top: 50px;
	background: url(../img/bage_bg.jpg) repeat;
	box-shadow: 0px 8px 60px #0003;
	padding-bottom: 80px;

}

h2{
	font-size: 33px;
	font-weight:bold;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	background: url(../img/ball.png) no-repeat center top;
	padding-top: 50px;
	text-transform: uppercase;
}

.icons{
	padding-top: 50px;
}

.icons_one{
	background: url(..//img/icon1.png) no-repeat center top;
	width: 290px;
	padding-top: 141px;
	margin-right: 130px;
	margin-left: 20px;
}

.icons_one:nth-child(2){
	background: url(..//img/icon2.png) no-repeat center top;
	margin-left: 0px;
}

.icons_one:nth-child(3){
	background: url(..//img/icon3.png) no-repeat center top;
	margin-right: 0px;
	margin-left: 0px;
}


#level{
	background: url(../img/l_bage_bg.png) repeat;
	box-shadow: 0px 8px 60px #0003;
	padding-top: 20px;
}

.level{
	background: url(../img/1icon_i.png) no-repeat center top;
	color: #e0ddb4;
	padding-top: 50px;
	padding-bottom: 30px;
	width: 440px;
	line-height: 1.3em;

}

#tranning{
	background: url(../img/dk_bg.jpg) repeat;
	padding-top: 30px;
}

.main_block{
	background: url(../img/train_bg.png) no-repeat center;


}


.second_train_block{
padding-bottom: 50px;
}
.train_cell{
	background: url(../img/icon_code.png) no-repeat center top;
	padding-top: 75px;
	width: 240px;
	padding-bottom:  30px;
	line-height: 1.3em;
}
.mon_icon{
	background: url(../img/monitor_icon.png) no-repeat center top;
}

.vector_icon{
	background: url(../img/vector_icon.png) no-repeat center top;
}

.star_icon{
	background: url(../img/star_icon.png) no-repeat center top;
}

.train_cell p{
	margin: 0;
	padding: 10px 0;
}

#red{
	padding-top: 50px;
	background: url(../img/red_bg.jpg) repeat;
}
.explain{
	line-height: 1.4em;
	width: 540px;
	padding-top: 20px;
	padding-bottom: 40px;
	}

.cell{
	background: transparent;
	border: 0px;
	border-bottom: 1px solid #dd9e87;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	padding: 12px 0;
	width: 252px;
	margin-right: 20px;

}

input::-webkit-input-placeholder {
    color: #e19494;
}

input::-moz-placeholder {
    color: #e19494;
   }

.act{
	background: transparent;
	border: 1px solid #fff;
	border-radius: 5px;
	width: 155px;
	padding: 15px 0;
	font-size: 16px;
	color: #e7e4bb;
	font-weight: bold;
	text-transform: uppercase;
}

#boss{
	background: #dfdc98 url(../img/first_bg.jpg) no-repeat center;

}

.dark_ball{
	background: url(../img/ball_d.png) no-repeat center top;
}

.admin{
	padding-top: 50px;
}

.admin img{
	margin: 30px 0;
}

.admin2 {
	background: url(../img/head_icon.png) no-repeat center top;
	padding-top:15px;
	padding-bottom: 30px;
}
.admin2 p{
	 display: inline;
	 padding-left:20px;
	}

.verst{
	width: 300px;
	border: 1px solid #3b3a1f;
	padding: 15px;
	color: #3b3a1f;
	border-radius: 5px;

}

.blue_icons{
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 40px;
}
.blue_icons i{
	width: 40px;
	}

.blue_icons a{
	color: #3d9994;
}

#footer{
	background: #e3e1a3;
	margin: 0;
	padding: 0;
}


.foot{
margin-left: 120px;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	margin: 0;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	display: block;
	float: left;
}
ul:first-child{
	padding:0px;
}

.foot a{
	color: #3b3a1f;
}
